<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462499751146-mlcuoc6u1e4skdvstupaq6osagg3ekd0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462499751146-mlcuoc6u1e4skdvstupaq6osagg3ekd0</string>
	<key>API_KEY</key>
	<string>AIzaSyBbu8idGjdozr0I6WJA6Ryqcr3iU-rP1pI</string>
	<key>GCM_SENDER_ID</key>
	<string>462499751146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.oregonstate.millzane.wastegram</string>
	<key>PROJECT_ID</key>
	<string>wastegram-b9716</string>
	<key>STORAGE_BUCKET</key>
	<string>wastegram-b9716.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462499751146:ios:65f8847c64e5aac269e393</string>
</dict>
</plist>